/* chat.component.css */
:host {
    display: block;
  }
  
  .full-screen {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .chat-container {
    width: 100%;
    max-width: 30rem; /* Adjust maximum width as needed */
  }
  